

@{
    ViewData["Title"] = "ArtifactsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <!--Resources of Chart1--> <!--Bir eser için toplam kişi sayısı-->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <link href="~/css/AnalyticsCSS.css" rel="stylesheet" />
    <script src="~/js/ChartsJS/ArtifactsChart1.js"></script>


    <!-- Chart2 Resources --><!--Bir eser için ortalama izlenme süresi-->

    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>


    <!--Chart3 Resources--><!--Most/Least Artifacts-->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <script src="~/js/ChartsJS/ArtifactsChart3.js"></script>

    <!--Chart4 Resources--><!--Total Visitors for one Artifact-->
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>



    <!--Chart5 Resources--><!--Average of All Artifacts by visitors and time-->
    <script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-core.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
    <script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-stock.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
    <script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
    <script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>


    <!--Chart7--><!--Bounce Rate-->
    <script src="https://cdn.anychart.com/csv-data/dji-daily-short.js"></script>

    <script>
        var el = document.getElementById("contain");
        el.style.backgroundColor = "teal";
    </script>
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a id="textofDashboard" href="#"><b style="font-size:20px; ">Artifacts Analytics</b></a>
        </li>
    </ol>
</div>


<!--Body Row-->
<div class="row pl-5 pr-4 " style="position:relative; ">
    <div style=" border-radius:5px; width:100%;">
        <!--Row1-->
        <div class="row pl-3 pr-3 pt-4">
            <!--Table of Artifacts-->
            <div class="col-md-4 pr-3" style="height: 488px; overflow: scroll; width: 100%; background-color:white; color:#fff; border:groove; border-radius:5px;">
                <div class="pl-0">
                    <p class="pt-md-3 pl-0" style="text-align:center; color:black; border:groove; border-radius:5px; background-color:lavender;">
                        <b>Artifacts</b>
                    </p>
                </div>
                <div>
                    <table border="0" cellpadding="4" cellspacing="4" class="pr-0" style="width:100%; max-height:100%; background-color:white; color:black; ">
                        <tr>
                            <th style="background-color:lavender;">Artifact Name</th>
                            <th style="background-color:lavender;">Room ID</th>
                            <th style="background-color:lavender;">Floor ID</th>
                            <th style="background-color:lavender;">Visitors</th>
                            <th style="background-color:lavender;">Action</th>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>94</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

                        </tr>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>80</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
                        </tr>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>80</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

                        </tr>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>80</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

                        </tr>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>80</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>94</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>94</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>94</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>94</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>94</td>
                            <td>50</td>
                            <td><button style="background-color:lavender;" onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

                        </tr>
                    </table>
                </div>
            </div>
            <!--Table of Artifacts-->
            <!--------------------------------------------------------------------------------------------------------------------------->
            <div class="col-md-8 pl-md-4" style="background-color:teal; color:#fff; border-radius:5px;">

          
                <!--Row 1.2--> <!--Average of Time for One Artifact-->
                <div class="row " style=" max-height:50%; width:100%; ">
                    <div style="width:100%;  ">
                        <p class="pt-2" style="text-align:center; border:groove; border-radius:5px; width:100%; background-color:lavender; color:black; margin-bottom:auto; ">
                            <b>Average of Time and Total Visitors for One Artifact</b>
                            <select style="float:right; border:dashed;">

                                <option selected>2018-2019</option>
                                <option>2017-2018</option>
                                <option>2016-2017</option>
                                <option>2015-2016</option>
                                <option>2014-2015 </option>
                            </select>
                        </p>

                    </div>

                    
                        <div id="anychart-embed-DHd8fH15" class=" pt-1 anychart-embed anychart-embed-DHd8fH15" style="width:100%;">

                            <div id="ac_style_DHd8fH15" style="display:none;"></div>

                            <script src="~/js/ChartsJS/ArtifactsChart9.js"></script>
                            <div class="pb-0" id="chart9" style="border:groove; border-radius:5px; width:100%;height:100%;"></div>

                        </div>

                  

                </div>

            </div>
        </div>

    </div>

    <!--------------------------------------------------------------------------------------------------------------------------->
    <!--Average of Artifact for one Visitor --> <!--Bir esere  ortalama kaç kişi düşüyorun hesaplanması-->
    <div class="row pl-3 pr-3 pt-5 pb-0" style="width:100%;">

        <div class="col-12" style="border:groove; border-radius:5px; background-color:white;">
            <div class="pt-2 pb-2" style="text-align:center; background-color:lavender; border-radius:5px;"><b>Average of Artifact for one Visitor  </b></div>

            <script src="~/js/ChartsJS/ArtifacstChart4.js"></script>
            <div id="chart4" style="height: 400px; width:100%; "></div>

        </div>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------------->
    <!--Most/Least Artifacts-->
    <div class="row pl-3 pr-3 pt-5 " style=" width:100%; color:white; height:100%;">
        <div class="col-md-12 p-0" style=" border:groove 5px; border-radius:5px;  width:100%; background-color:white; height:100%; ">
            <div class="pt-2 pb-2" style="text-align:center; background-color: lavender; color:black; width:100%; border-radius:5px;"><b>Most/Least Artifacts</b></div>

            <div id="chart3" style="height: 100%; width:100%;"></div>
            <script src="~/js/ChartsJS/ArtifactsChart3.js"></script>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------------------------------------->
    <!--Average of All Artifacts by visitors and time--> <!--Eserlerin Zamana göre ve ziyaretçi sayısına göre ortalması -->
    <div class="row pl-3 pr-3 pt-5" style="width:100%;">
        <div class="col-md-12 pl-2" style=" border:groove; border-radius:5px;  width:100%; background-color:white; ">
            <div class="pt-2 pb-2" style="text-align:center; background-color: lavender; width:100%; border-radius:5px;"><b>Average of All Artifacts by visitors and time</b></div>

            <div id="anychart-embed-samples-stock-spline-05" class="anychart-embed anychart-embed-samples-stock-spline-05" style="width:100%;">
                <div id="ac_style_samples-stock-spline-05" style="display:none;"></div>

                <div id="chart5" style="width:100%; height:100%;  border-radius:5px; "></div> <!--Chart div-->
                <script src="~/js/ChartsJS/ArtifactsChart5.js"></script><!--Chart script-->

            </div>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------------------------------------->
    <!--Behaviour Flow-->
    <div class="row pl-3 pt-5 pr-0 pb-3" style=" width:100%;">

        <div class="col-md-8 pr-3 pt-1" style="background-color:white; border-radius:5px;">
            <div class="pt-2 pb-2" style="text-align:center; background-color:lavender; border-radius:5px;"><b>Behaviour Flow</b></div>

            <div class="row" style="width:100%;">
                @{var tarih = DateTime.Now;}
                <div class="col-md-5 pl-4" style="width:100%;">
                    Başlangıç Tarihi:<input class="p-1" type="date" id="start" name="trip-start" min="2010-01-01" max=@tarih style="background-color: aliceblue; margin:5px;">
                </div>
                <div class="col-md-6" style="width:100%; background-color:white;">
                    Bitiş Tarihi:<input class="p-1" type="date" id="start" name="trip-start" min="2010-01-01" max=@tarih style="background-color: aliceblue; margin:5px;">
                    <button onclick="">SHOW</button>
                </div>
            </div>

            <script src="~/js/ChartsJS/ArtifactsBehaviourFlow.js"></script>
            <div id="chart10" style="width:100%;height: 500px;"></div>

        </div>

        <!--Behaviour Flow Bilgileri-->
        <div class="col-md-4 pl-3 pt-1" style=" border-radius:5px; width:100%;">
            <div class="pt-0" style="background-color:white; overflow:scroll; width:100%; height:100%; border:groove; border-radius:5px;">
                <table border="0" cellpadding="4" cellspacing="4" class="pr-0" style="width:100%;  background-color:white; color:black; ">
                    <tr style="background-color:lavender;">
                        <th>From</th>
                        <th>To</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Eve</td>
                        <td>Jackson</td>
                        <td>94</td>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>50</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <!--------------------------------------------------------------------------------------------------------------------------->
    <!--Bounce Rate-->

    <div class="row pl-3 pr-3 pt-5" style="width:100%;">
        <div id="anychart-embed-samples-stock-grouping-01" class=" anychart-embed anychart-embed-samples-stock-grouping-01" style="width:100%; background-color:white;border:groove; border-radius:5px;">
            <div class=" row pl-4" style="text-align:center;border-radius:5px; width:100%; ">
                <p class="pt-2 pb-2" style="text-align:center; width:inherit; background-color:lavender; border-radius:5px;">
                    <b style="text-align:center;">Bounce Rate for All Artifacts</b>
                </p>
            </div>

            <div id="ac_style_samples-stock-grouping-01" style="display:none;">

                <style>
                    html, body, #chart7 {
                        width: 100%;
                        height: 400px;
                        margin: 0;
                        padding: 0;
                        border-radius: 5px;
                    }
                </style>
            </div>

            <script src="~/js/ChartsJS/ArtifactsChart7.js"></script>
            <div class="row" id="chart7" style="width:100%; border-radius:5px;"></div>
        </div>
    </div>

   

</div>
<!--Body Row-->
