

@{
    ViewData["Title"] = "ArtifactsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <!--Resources of Chart1-->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="~/js/ChartsJS/ArtifactsChart1.js"></script>

    <!-- Resources of Chart2-->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="~/js/ChartsJS/ArtifactsChart2.js"></script>

    <!-- Resources of Chart3-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>


    <!--Resources of Chart4-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <!--Resources of Chart5-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>


    <script>

        var el = document.getElementById("contain");
        el.style.backgroundColor = "#008b8b";
    </script>
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a id="textofDashboard" href="#"><b style="font-size:20px;">Artifacts Analytics</b></a>
        </li>
    </ol>
</div>

<!--
<div class="row p-md-2" >
  <div class="col-md-4 pr-3" style="background-color:white; border:groove; ">

  </div>

    <div class="col-md-8" style="background-color:white; border:groove;">

    </div>
</div>
-->
<!--Body Row-->
<div class="row pl-2 pr-2">
    <div class="col-md-4 pr-3" style="height: 1000px; overflow: scroll; width: 50%; background-color:beige; border:groove;">

        <p class="pt-md-3" style="text-align:center; color: dodgerblue;">
            <b>Average of time for one artifacts</b>
        </p>

        <table class="pr-0" style="width:100%;  background-color:white;">
            <tr>
                <th>Artifact Name</th>
                <th>Room ID</th>
                <th>Floor ID</th>
                <th>Visitors</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>80</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
                <td>50</td>
                <td><button onclick="window.location.href='http://www.mozilla.org/'">SHOW</button></td>

            </tr>

        </table>

    </div>

    <!--Row1-->
    <div class="col-md-8 pl-md-4" style="background-color:beige;">

        <p class="pt-md-3" style="text-align:center; color: dodgerblue;">
            <b>Average of time for one artifacts</b>

            <select style="float:right;">

                <option selected>2015-2019</option>
                <option>2010-2014</option>
                <option>2005-2009</option>
                <option>2000-2004</option>
                <option>1995-1999 </option>
            </select>
        </p>

        <!--Row 1.1--> <!--Bir eser için ortalama izlenme süresi-->
        <div class="row" style="height:50%; border:groove;">

            <style>
                #chartdiv {
                    width: 100%;
                    height: 100%;
                    background-color: white;
                }
            </style>

            <script>
                am4core.ready(function () {

                    // Themes begin
                    am4core.useTheme(am4themes_animated);
                    // Themes end

                    // Create chart instance
                    var chart = am4core.create("chartdiv", am4charts.XYChart);

                    // Add data
                    chart.data = generateChartData();

                    // Create axes
                    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis.renderer.minGridDistance = 50;

                    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

                    // Create series
                    var series = chart.series.push(new am4charts.LineSeries());
                    series.dataFields.valueY = "visits";
                    series.dataFields.dateX = "date";
                    series.strokeWidth = 2;
                    series.minBulletDistance = 10;
                    series.tooltipText = "{valueY}";
                    series.tooltip.pointerOrientation = "vertical";
                    series.tooltip.background.cornerRadius = 20;
                    series.tooltip.background.fillOpacity = 0.5;
                    series.tooltip.label.padding(12, 12, 12, 12)

                    // Add scrollbar
                    chart.scrollbarX = new am4charts.XYChartScrollbar();
                    chart.scrollbarX.series.push(series);

                    // Add cursor
                    chart.cursor = new am4charts.XYCursor();
                    chart.cursor.xAxis = dateAxis;
                    chart.cursor.snapToSeries = series;

                    function generateChartData() {
                        var chartData = [];
                        var firstDate = new Date();
                        firstDate.setDate(firstDate.getDate() - 1000);
                        var visits = 1200;
                        for (var i = 0; i < 500; i++) {
                            // we create date objects here. In your data, you can have date strings
                            // and then set format of your dates using chart.dataDateFormat property,
                            // however when possible, use date objects, as this will speed up chart rendering.
                            var newDate = new Date(firstDate);
                            newDate.setDate(newDate.getDate() + i);

                            visits += Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);

                            chartData.push({
                                date: newDate,
                                visits: visits
                            });
                        }
                        return chartData;
                    }

                }); // end am4core.ready()

            </script>

            <div id="chartdiv"></div>
        </div>

        <!--Row 1.2-->
        <div class="row">


            <!-- Styles -->
            <style>
                #Chart1 {
                    width: 100%;
                    height: 388px;
                    background-color: white;
                    border: groove;
                }
            </style>

            <p class="pt-md-3" style="text-align:center; color: dodgerblue;">
                <b style="text-align:center;">Average of time for one artifacts</b>
            </p>

            <div id="Chart1"></div>
        </div>
    </div>


</div>


<!--Row2-->
<div class="row p-md-2 ">

    <!--Row 3.1--> <!--Artifacts Weekly Average-->
    <div class="col-md-4 pr-4 pl-2 " style="background-color: beige;">

        <p class="pt-md-3" style="text-align:center;">
            <b style="text-align:center; color: dodgerblue;">Artifacts Weekly Average</b>

            <select style="float:right;">
                
                <option selected>January</option> <!--hangi aydaysak onu seçecek default olarak-->
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>july</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
            </select>

        </p>
        <div id="chart3" style="min-width: 310px; height: 400px; margin: 0 auto;  border:groove;"></div>
        <script src="~/js/ChartsJS/ArtifactsChart3.js"></script>

    </div>


    <!--Row 3.2--><!--Artifacts Monthly Average-->
    <div class="col-md-4 pr-2 pl-0" style="background-color:beige;">

        <p class="pt-md-3" style="text-align:center; color: dodgerblue;">
            <b>Artifacts Monthly Average</b>

            <select style="float:right;">
                <option selected>2018</option>
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
                <option>2013 </option>
            </select>
        </p>
        <div id="chart4" style="min-width: 310px; height: 400px;  border:groove;"></div>
        <script src="~/js/ChartsJS/ArtifactsChart4.js"></script>
    </div>

    <div class="col-md-4" style="background-color:beige;">
        <p class="pt-md-3" style="text-align:center; color: dodgerblue;">
            <b>Artifacts Average for Years</b>

            <select style="float:right;">
                
                <option selected>2015-2019</option>
                <option>2010-2014</option>
                <option>2005-2009</option>
                <option>2000-2004</option>
                <option>1995-1999 </option>
            </select>
        </p>

        <div id="chart5" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto; border:groove;"></div>
        <script src="~/js/ChartsJS/ArtifactsChart5.js"></script>

    </div>



</div>
<!--Row2-->
