
@{
    ViewData["Title"] = "MuseumIndex";
}


<script>

    var el = document.getElementById("contain");
    el.style.backgroundColor = "teal";
</script>

<div class="container-fluid pb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a id="textofDashboard" href="#"><b style="font-size:20px; ">Museum Analytics</b></a>
        </li>
    </ol>
</div>

<div class="container-fluid">
    <div class="row" style="background-color:antiquewhite;">
        lasklkasn
    </div>

    <div class="row" style="background-color:aquamarine;">

        <script>https://cdn.anychart.com/csv-data/msft-daily-short.js</script>
        <script>https://cdn.anychart.com/csv-data/orcl-daily-short.js</script>
        <script>https://cdn.anychart.com/csv-data/csco-daily-short.js</script>
        <script>https://cdn.anychart.com/csv-data/ibm-daily-short.js</script>


        <div id="chart11" style="width:100%; height:100%;"></div>
        <script>
            anychart.onDocumentReady(function () {
                // The data used in this sample can be obtained from the CDN
                //
                //
                //
                //
                // create data tables on loaded data
                var msftDataTable = anychart.data.table();
                msftDataTable.addData(get_msft_daily_short_data());

                var orclDataTable = anychart.data.table();
                orclDataTable.addData(get_orcl_daily_short_data());

                var cscoDataTable = anychart.data.table();
                cscoDataTable.addData(get_csco_daily_short_data());

                var ibmDataTable = anychart.data.table();
                ibmDataTable.addData(get_ibm_daily_short_data());

                // create stock chart
                var chart = anychart.stock();

                // create first plot on the chart with column series
                var firstPlot = chart.plot(0);
                // create line series on the first plot
                firstPlot.line()
                    .data(msftDataTable.mapAs({ 'value': 4 }))
                    .name('MSFT');

                // create second plot on the chart
                var secondPlot = chart.plot(1);
                // create spline line series on the second plot
                secondPlot.spline()
                    .data(orclDataTable.mapAs({ 'value': 4 }))
                    .name('ORCL')
                    .fill('#1976d2 0.65')
                    .stroke('1.5 #1976d2');

                // create third plot
                var thirdPlot = chart.plot(2);
                // create step line series on the third plot
                thirdPlot.stepLine()
                    .data(cscoDataTable.mapAs({ 'value': 4 }))
                    .name('CSCO')
                    .fill('#ef6c00 0.65')
                    .stroke('1.5 #ef6c00');

                // create forth plot
                var forthPlot = chart.plot(3);
                // create step line series on the forth plot
                forthPlot.line()
                    .data(msftDataTable.mapAs({ 'value': 4 }))
                    .name('MSFT')
                    .tooltip(false);
                forthPlot.spline()
                    .data(orclDataTable.mapAs({ 'value': 4 }))
                    .name('ORCL')
                    .tooltip(false);
                forthPlot.stepLine()
                    .data(cscoDataTable.mapAs({ 'value': 4 }))
                    .name('CSCO')
                    .tooltip(false);

                // create scroller series with mapped data
                chart.scroller().line(msftDataTable.mapAs({ 'value': 4 }));

                // set chart selected date/time range
                chart.selectRange('2005-01-03', '2005-11-20');

                // set container id for the chart
                chart.container('chart11');
                // initiate chart drawing
                chart.draw();

                // create range picker
                var rangePicker = anychart.ui.rangePicker();
                // init range picker
                rangePicker.render(chart);

                // create range selector
                var rangeSelector = anychart.ui.rangeSelector();
                // init range selector
                rangeSelector.render(chart);
            });
        </script>



    </div>

</div>





