
@{
    ViewData["Title"] = "MuseumIndex";
}

<link href="~/css/Ghost.css" rel="stylesheet" />
<link href="~/css/placeholder-loading.min.css" rel="stylesheet" />
<!--Resources of Chart-->
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-stock.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
<script src="https://cdn.anychart.com/csv-data/msft-daily-short.js"></script>
<script src="https://cdn.anychart.com/csv-data/orcl-daily-short.js"></script>
<script src="https://cdn.anychart.com/csv-data/csco-daily-short.js"></script>
<script src="https://cdn.anychart.com/csv-data/ibm-daily-short.js"></script>
<link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33" type="text/css" rel="stylesheet">
<link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33" type="text/css" rel="stylesheet">


<script async src="~/js/dataTransfers/GhostController.js"></script>
<script async src="~/js/dataTransfers/DataFormatHelpers.js"></script>
<script async src="~/js/ChartsJS/MuseumAnalytics.js"></script>
<script async src="~/js/dataTransfers/MuseumAnalyticsAJAX.js"></script>

<script>

    var el = document.getElementById("contain");
    el.style.backgroundColor = "teal";
</script>

<div class="container-fluid pb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a id="textofDashboard" href="#"><b style="font-size:20px; ">Museum Analytics</b></a>
        </li>
    </ol>
</div>

<div class="pl-4 pr-4 container-fluid">
    <div class="row" style="background-color:white; border-top-left-radius:5px; border-top-right-radius:5px;">
        <div class="pl-2 pr-2" style="width:100%;">
            <div class="p-2" style="text-align:center; background-color:lavender; border-radius:5px; width:100%; "><b>Museum Analytics for Bounce Rate,Total Visitors and Time</b></div>
        </div>
    </div>

    <div class="row" style="height:100%; border-bottom-left-radius:5px; border-bottom-right-radius:5px;">
        <div id="chart11Placeholder" class="placeholders mt-4 mb-4 ph-item">


            <svg class="chart lineChartSvg">
                <!--TRANSFORM SCALE AND VIEWPORT SIZE -->

                <polyline class="lineChartPlaceholder align-self-center" fill="none"
                          stroke="#ced4da"
                          stroke-width="2"
                          points="
       00,120
       20,60
       40,80
       60,20
       80,80
       100,80
       120,60
       140,100
       160,90
       180,80
       200, 110
       220, 10
       240, 70
       260, 100
       280, 100
       300, 40
       320, 0
       340, 100
       360, 100
       380, 120
       400, 60
       420, 70
       440, 80
     " />

            </svg>


        </div>
        <div id="chart11" data-actuality="actual" class="chart11Actual" style="width:100%; height:500px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;"></div>

    </div>

</div>





