
@{
    ViewData["Title"] = "Index";
}

<!--Resources Chart1--><!--Total Visitors for one Room-->


<!--Resources Chart2--><!--Average of time and total time for one room-->
<script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-core.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-stock.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>

<!--Resources Chart3--><!--Average of Visitors and Time for All Rooms-->
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-stock.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>

<!--Resources Chart4--><!--Behaviour Flow-->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>



<script>

    var el = document.getElementById("contain");
    el.style.backgroundColor = "teal";
</script>

<div class="container-fluid pb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a id="textofDashboard" href="#"><b style="font-size:20px; ">Rooms Analytics</b></a>
        </li>
    </ol>
</div>




<!--Body div-->
<div class="container-fluid pr-0">
    <div class="row pl-3 pb-4" border-radius:5px;">
       
        <!--Row1-->
       
            <!--DropDown and Title-->
            <div class="row pl-4 pb-1" style="width:100%;">
                <select class="p-2" style="float:left; border: double; border-radius:5px; width:100%; background-color:lavender; color:blue;">
                    <option selected>Oda-1</option>
                    <option>Oda-2</option>
                    <option>Oda-3</option>
                    <option>Oda-4</option>
                    <option>Oda-5</option>
                </select>
            </div>
            <!--Chart1--><!--Total Visitors and Bounce Rate for one Room-->
            <div class="col-md-6 pl-2 pr-2" style="text-align:center; border-radius:5px;  ">
                <div class="pl-2 pr-2" style="background-color:white; width:100%; height:100%; border-radius:5px; ">
                    <div class="pt-2 pb-2" style="text-align:center; background-color:lavender; border-radius:5px; width:100%; "><b>Total Visitors and Bounce Rate for One Room</b></div>


               

                    <div id="chart1" style="width:100%; height:90%; background-color:white; border-radius:5px;"></div>
                    <script src="~/js/ChartsJS/RoomsChart1.js"></script>
                </div>
            </div>


            <!--Chart2--><!--"Average of time" and "total time" for one Room-->
            <div class="col-md-6 pl-2 pr-2" style="position:relative;">
                <div id="anychart-embed-samples-stock-spline-05" class="pl-2 pr-2 anychart-embed anychart-embed-samples-stock-spline-05" style="background-color:white; border-radius:5px; position:relative;">
                    <div id="ac_style_samples-stock-spline-05" style="display:none;"></div>
                    <div class="pt-2 pb-2" style="text-align:center; background-color:lavender; border-radius:5px; width:100%;"><b>Average of Time and Total Time for One Room</b></div>

                    <div id="chart5" style="width:100%; height:90%; border-radius:5px; position:relative; "></div> <!--Chart div-->
                    <script src="~/js/ChartsJS/RoomChart2.js"></script>

                </div>
            </div>
    </div>


    <!-- "Row2" , "Chart3" -->  <!--Average of visitors and time for all rooms-->
    <div class="row pl-3 pr-3 pt-4 ">
        <div style="width:100%;">
            <div id="anychart-embed-DHd8fH15" class="pl-2 pr-2 anychart-embed anychart-embed-DHd8fH15" style="width:100%; background-color:white; border-radius:5px;">
                <div class="pt-2 pb-2" style="text-align:center; background-color:lavender; border-radius:5px; width:100%;"><b>Average of Visitors and Time for All Rooms</b></div>

                <div id="ac_style_DHd8fH15" style="display:none;">
                    <style>
                        html, body, #chart3 {
                            width: 100%;
                            height: 91%;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>

                <script src="~/js/ChartsJS/RoomsChart3.js"></script>
                <div id="chart3" style="width:1235px;  "></div>
            </div>
        </div>
    </div>



    <!--Row3-->
    <div class="pt-4">


        <div class="row pl-3 pr-3 pt-4">
            <!--Chart4--><!--Behaviour Flow-->

            <div class="col-md-8" style=" width:100%; background-color:white; border-radius:5px;">
                <div class="pl-3" style="text-align:center;">
                    <div class="row pt-2 pb-0" style="text-align:center; background-color:lavender; border-radius:5px; width:100%;">
                        <p>
                            <b>Behaviour Flow</b>
                        </p>
                    </div>
                </div>

                <div class="row">
                    @{var tarih = DateTime.Now;}
                    <div class="col-md-5 pl-4" style="width:100%;">
                        Başlangıç Tarihi:<input class="p-1" type="date" id="start" name="trip-start" min="2010-01-01" max=@tarih style="background-color: aliceblue; margin:5px;">
                    </div>
                    <div class="col-md-6" style="width:100%; background-color:white;">
                        Bitiş Tarihi:<input class="p-1" type="date" id="start" name="trip-start" min="2010-01-01" max=@tarih style="background-color: aliceblue; margin:5px;">
                        <button onclick="">SHOW</button>
                    </div>
                </div>

                <script src="~/js/ChartsJS/RoomsBehaviourFlow.js"></script>
                <div id="chartdiv" style="width: 100%;height: 500px;"></div>

            </div>

            <!--Behaviour Flow Bilgileri-->
            <div class="col-md-4 pr-0" style="border-radius:5px;">

                <div class="pl-3 pr-2" style="background-color:white; overflow:scroll; width:100%; height:100%; border:groove; border-radius:5px;">
                    <table  cellpadding="10" cellspacing="4" class="pr-0 " style="width:100%;  background-color:white; color:black;">
                        <tr style="background-color:lavender;">
                            <th>From</th>
                            <th>To</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Eve</td>
                            <td>Jackson</td>
                            <td>94</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>80</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Jill</td>
                            <td>Smith</td>
                            <td>50</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

    </div>

</div>

