
@{
    ViewData["Title"] = "Index";
}

<!--Resources Chart1--><!--Total Visitors for one Room-->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

<!--Resources Chart2--><!--Average of time and total time for one artifact-->
<script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-core.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-stock.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>



<script>

    var el = document.getElementById("contain");
    el.style.backgroundColor = "teal";
</script>

<div class="container-fluid pb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a id="textofDashboard" href="#"><b style="font-size:20px; ">Rooms Analytics</b></a>
        </li>
    </ol>
</div>



<div class="container-fluid">
    <div class="pl-0" style="border:groove;">

        <!--Row1-->
        <div class="row pl-2">

            <!--Chart1--><!--Total Visitors and Bounce Rate for one Room-->
            <div class="col-md-6 pl-2 pb-0" style="text-align:center;">
                <div>
                    <div>
                        <select style="float:left; border: double; width:300px; background-color:lavender; color:blue;">
                            <option selected>Oda-1</option>
                            <option>Oda-2</option>
                            <option>Oda-3</option>
                            <option>Oda-4</option>
                            <option>Oda-5</option>
                        </select>
                    </div>

                    <script src="~/js/ChartsJS/RoomsChart1.js"></script>
                    <div id="chart1" style="height: 400px; min-width: 310px; background-color:aquamarine;"></div>

                </div>
            </div>


            <!--Chart2--><!--Bir Odaya Göre ortalama ve toplam izlenme sayısı-->
            <div class="col-md-6" ;">
                <div id="anychart-embed-samples-stock-spline-05" class="anychart-embed anychart-embed-samples-stock-spline-05">
                    <div id="ac_style_samples-stock-spline-05" style="display:none;"></div>


                    <div id="chart5" style="width:100%; height:100%; border:solid; border-color:white; border-radius:5px; "></div> <!--Chart div-->
                    <script src="~/js/ChartsJS/RoomChart2.js"></script>
                    

                </div>
            </div>

        </div>
    </div>



    <!--Row2-->
    <div class="row p-2">
        <div style="background-color: blue; width:100%;">
            Bütün odaların kişi ortalaması (haftalık, aylık, yıllık)
        </div>
    </div>



    <!--Row3-->
    <div class="row p-2" style="background-color: aquamarine;">
        <div style="background-color:chartreuse; width:100%;">
            Bütün odaların izlenme süresi ortalaması (haftalık, aylık, yıllık)
        </div>
    </div>



    <!--Row4-->
    <div class="row p-2" style="background-color: crimson;">
        <div style="background-color: darkgreen; width:100%;">
            Behavior Flow
        </div>
    </div>



    <!--Row5-->
    <div class="row p-2" style="background-color: darkmagenta;">
        <div style="background-color: darkgreen; width:100%;">
            yok
        </div>
    </div>

</div>

